.InputBox {
  display: flex;
  padding: 10px;
  gap: 8px;
  border-top: 1px solid #ccc;
  background-color: #f8f8f8;
}

.InputBox input {
  flex-grow: 1;
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
}

.InputBox button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.InputBox button:hover {
  background-color: #1741b6;
}

@media (max-width: 460px) {
  .InputBox {
    flex-direction: column;
    gap: 4px; 
    padding: 6px;
  }

  .InputBox input,
  .InputBox button {
    width: 100%;
    font-size: 0.8rem;
    padding: 8px 12px;
  }

  .InputBox button {
    border-radius: 6px; 
  }
}

@media (max-width: 768px) {
  .InputBox {
    flex-direction: column;
    gap: 6px; 
    padding: 8px;
  }

  .InputBox input,
  .InputBox button {
    width: 100%;
    font-size: 0.8rem;
    padding: 8px 12px;
  }

  .InputBox button {
    border-radius: 6px; 
  }
}

@media (max-width: 1024px) {
  .InputBox {
    flex-direction: column;
    gap: 8px; 
    padding: 10px;
  }

  .InputBox input,
  .InputBox button {
    width: 100%;
    font-size: 0.8rem;
    padding: 10px 14px;
  }

  .InputBox button {
    border-radius: 6px; 
  }
}

@media (min-width: 1280px) {
  .InputBox {
    flex-direction: column;
    gap: 10px; 
    padding: 12px;
  }

  .InputBox input,
  .InputBox button {
    width: 100%;
    font-size: 0.8rem;
    padding: 8px 0px;
  }

  .InputBox button {
    border-radius: 6px; 
  }
}